body {
  background-color: #d4f8f0;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top {
  padding-top: 100px;
  position: relative;
}

.top h2 {
  color: #11999e;
}

.underline {
  text-decoration: underline;
}

.middle-container {
  background-color: white;
}

.profile-img {
  height: auto;
  margin: 50px auto 0;
  width: 20%;
}

.profile-txt {
  width: 50%;
  margin: auto;
}

.line {
  border-style: dotted none none;
  border-width: 10px 0;
  color: #66BFBF;
  margin: 5% auto;
  width: 7.5%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.web-img {
  float: left;
  height: 200px;
  margin-right: 0;
  width: auto;
}

.manage-img {
  float: right;
  height: 150px;
  margin-left: 40px;
  width: auto;
}

h1 {
  color: #11999e;
  font-size: 5.625rem;  /* 100% is 16px. To get 90%: 90/16=5.625, or 562.5%. 1em is 16px, so 5.625em. rem will scale off the root, ignoring parent (unlike em and %). root is 16px */
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {  
  color: #66BFBF;
  font-size: 2.5rem;
}

h3 {
  font-size: x-large;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

h3, a {
  color: #11999e;
}

p {
  color: #113c41;
}

.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.contact-me {
  margin-bottom: 25px;
  padding-bottom: 50px;
}

.contact-me p {
  margin: 50px auto;
  width: 50%;
}

.btn {
  background: #11999e;
  background-image: -webkit-linear-gradient(top, #11999e, #113c41);
  background-image: -moz-linear-gradient(top, #11999e, #113c41);
  background-image: -ms-linear-gradient(top, #11999e, #113c41);
  background-image: -o-linear-gradient(top, #11999e, #113c41);
  background-image: linear-gradient(to bottom, #11999e, #113c41);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  text-decoration: none;
}

.bottom-container {
  line-height: 2.5;
  margin: 50px auto;
}

.footer-link {
  color: #11999e;
  font-size: large;
  margin: auto 25px;
  text-decoration: none;
}

.bottom-container p {
  color: #113c41;
}

.img-ref {
  font-size: smaller;
}